name: Job Alert Bot

on:
  schedule:
    - cron: "0 */3 * * *"
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install deps
        run: pip install -r requirements.txt

      - name: Run script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          SERPAPI_KEY: ${{ secrets.SERPAPI_KEY }}
        run: python main.py

      - name: Save state
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add seen_jobs.json
          git commit -m "update seen jobs" || echo "no changes"
          git push
